PracticaUD1/src/main/xsd/Vacas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Vacas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vaca" type="vacaType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="vacaType">
    <xs:sequence>
      <xs:element name="Raza" type="xs:string"/>
      <xs:element name="Sexo" type="xs:string"/>
      <xs:element name="Edad" type="xs:int"/>
    </xs:sequence>
    <xs:attribute name="id_vaca" type="xs:string" use="required"/>
    <xs:attribute name="id_matadero" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>
